body {
  font-family: Helvetica, Arial, Sans-serif;
  text-align:center;
  font-size: 12px;
  line-height: 21px;
  background-image: url(/public/octocat.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;   
}

html, body {
  height: 100%;
}

header {
  font-size: 15px;
  display: flex;
  padding: 25px 30px;
}
